#logo{
    width: 100px;
    float: left;
}

@media screen and (max-width: 990px){
    #side-menu{
        width: 100%;
        height: auto;
        position: relative;
    }

    #side-menu a{
        float: left;
        margin-left: 30px;
    }

    #side-menu .col-md-8{
        margin: 0px;
        padding: 0px;
    }

    #logo-container img{
        margin-left: -15px;
    }

    #tweets, .twitter-link{
        display: none;
    }
}

#side-menu{
    background: #1CAD84;
    border-right: 3px solid black;
}

#title, #header-row{
    border-bottom: 3px solid black;
}

#logo-container > div > div{
    background: #1CAD84;
}

.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}

.icon{
    border-radius: 50%;
    background: #F0F0F0;
    height: 40px;
    width: 40px;
    overflow: hidden;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 20px;

    border: 1px solid black;
}

.icon > i{
    position: relative;
    top: 8px;
    left: 2px;
    text-align: center;
}

.menu-item{
    color: #000000;
}

.arrow-right{
    width: 0;
    height: 0;

    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 30px solid green;
    position: relative;

    left: -15px;
}

.item-desc{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-left: 20px;
    font-size: 1.3rem;
    margin: 0;
}

a span{
    color: #000000;
    margin-right: 5px;
}

#header-content{
    padding-left: 40px;
}

#header-content iframe {
    width: 100%;
    height: 95px;
    margin-top: 5px;
    padding-left: -50px;
}

#title > a{
    color: black;
}

#title h1{
    font-weight: bold;
}

#bg-title{
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 270px;

    font-weight: bold;
    color: #1CAD84;
    font-size: 50px;
}

.vertical-align{
    display: table;
    height: 40px;
    width: 50px;
    margin: 0;
}

.vertical-align span{
    padding-left: 0px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.more{
    margin-left: 30px;
}

#header-content.player{
    margin-left: 0px;
    padding-left: 0px;
}

.footer{
    padding-left: 5px;
}

.menu-item .col-md-4{
    padding-left: 2px;
}

#tweets{
    height: 500px;
    overflow: hidden;
    margin-left: -35px;
}